<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Todo" %></h1>
  <p>A multi-user to-do app focused on usability</p>

  <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
  <%= link "Register", to: Routes.user_registration_path(@conn, :new) %>

</section>
